<section id="contact" class="section contact-section">
  <div class="glass-card">
    <h2>Contact</h2>
    <div class="social-links">
      <a href="mailto:moaaz.ahmed@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
      <a href="tel:+201141494859"><i class="fas fa-phone"></i></a>
      <a href="https://www.linkedin.com/in/moaaz.ahmed" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/moaaz313" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://codeforces.com/profile/moazahmed313" target="_blank"><i class="fas fa-code"></i></a>
    </div>
  </div>
</section>