<section id="welcome" class="section hero-section">
  <div class="hero-content">
    <div class="hero-text">
      <h1>Hi, I'm Moaaz Ahmed</h1>
      <h2><span id="typed-text"></span></h2>
      <a href="https://drive.google.com/file/d/1tsA6ntIgfxWMkvDhMghjo8gmP841f6pd/view?usp=drive_link" target="_blank" class="cta-button">Download CV</a>
    </div>
    <div class="hero-image">
      <div class="profile-pic-wrapper">
        <img src="../assets/images/moaaz.jpg" alt=" Moaaz Ahmed" class="profile-pic">
      </div>
    </div>
  </div>
</section>